<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/script :: head('Le Nostre Ricette')"></head>

<body class="bg-dark">
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container ">
    <div class="row text-center mt-3">
        <div class="col">
            <h1 class="text-pink">Ricette di Benedetta Rossi</h1>
        </div>
    </div>

    <hr class="text-pink">

    <div class="row">
        <div class="col-md-4 text-center" th:each="ricetta : ${recipes}">
            <div class="card p-3 mb-2 m-auto shadow-lg" style="width: 18rem;">
                <img th:src="${ricetta.urlPhoto}" alt="Foto Ricetta"/>
                <div class="card-body">
                    <h5 class="card-title" th:text="${ricetta.title}">Titolo Ricetta</h5>
                    <p class="card-text">
                        <i class="fa-solid fa-stopwatch"></i>
                        <span th:text="'Time: ' + ${ricetta.timeOfPreparation} + 'm'"></span>
                    </p>
                    <p class="card-text">
                        <i class="fa-solid fa-users"></i>
                        <span th:text="'Porzioni: ' + ${ricetta.portion}"></span>
                    </p>
                    <p class="card-text"
                       th:text="'Preparazione: ' + ${ricetta.textOfRecipe.substring(0, 50) + '...'}"></p>
                    <a th:href="@{/show/{id}(id=${ricetta.id})}" class="btn bg-pink"><i
                            class="fa-solid fa-circle-info"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>

<th:block th:replace="fragments/script :: scriptBody"></th:block>
</body>
</html>
